<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>
<div id="kt_app_toolbar" class="py-3 py-lg-6">
  <div id="kt_app_toolbar_container" class="app-container">
    <%# include ../../partials/message.ejs %>
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
      <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
        Nota Dinas Terkirim
      </h1>
      <ol class="breadcrumb text-muted fs-7 fw-semibold pt-1">
        <li class="breadcrumb-item"><a href="/" class="">Home</a></li>
        <li class="breadcrumb-item"><a href="/notadinas" class="">Nota Dinas</a></li>
        <li class="breadcrumb-item text-muted">Terkirim</li>
      </ol>
    </div>
    <div class="card shadow-sm mt-5">
      <div class="card-body">
        <%- include ./table.ejs %>
      </div>
    </div>
  </div>
</div>





<%# include ../../partials/modals.ejs %>

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>