<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>
<%- include ../partials/sidebar.ejs %>
<div id="kt_app_toolbar" class="py-3 py-lg-6">
  <div id="kt_app_toolbar_container" class="app-container">
    <%# include ../partials/message.ejs %>
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
      <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
        Nota Dinas Masuk
      </h1>
      <ol class="breadcrumb text-muted fs-7 fw-semibold pt-1">
        <li class="breadcrumb-item"><a href="/" class="">Home</a></li>
        <li class="breadcrumb-item"><a href="/notadinas" class="">Nota Dinas</a></li>
        <li class="breadcrumb-item text-muted">Masuk</li>
      </ol>
    </div>

    <div class="card shadow-sm mt-5">
      <div class="card-body">
        <table id="kt_datatable_dom_positioning" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
          <thead>
            <tr class="fw-bold fs-6 text-gray-800 px-7">
              <th class="">No.</th>
              <th class="">No Nota Dinas</th>
              <th class="">Dari</th>
              <th class="">Kepada</th>
              <th class="">Hal</th>
              <th class="">Tanggal</th>
              <th class=""></th>
            </tr>
          </thead>
          <tbody class="fw-semibold">
            <% for(let i=0; i < notaDinas.length; i++) { %>
            <tr class="odd">
              <td> <%= i +1 %></td>
              <td> <%= notaDinas[i].noNotaDinas %></td>
              <td> <%= notaDinas[i].dari %></td>
              <td> <%= notaDinas[i].kepada %></td>
              <td> <%= notaDinas[i].perihal %></td>
              <td> <%= notaDinas[i].tanggal %></td>
              <td>
                <a data-id="<%= notaDinas[i]._id %>" class="btn btn-sm btn-light-primary btn-icon mr-2" id="kt_drawer_chat_toggle_<%= notaDinas[i]._id %>" title="Disposisi">
                  <span class="svg-icon svg-icon-primary svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <path d="M8.29606274,4.13760526 L1.15599693,10.6152626 C0.849219196,10.8935795 0.826147139,11.3678924 1.10446404,11.6746702 C1.11907213,11.6907721 1.13437346,11.7062312 1.15032466,11.7210037 L8.29039047,18.333467 C8.59429669,18.6149166 9.06882135,18.596712 9.35027096,18.2928057 C9.47866909,18.1541628 9.55000007,17.9721616 9.55000007,17.7831961 L9.55000007,4.69307548 C9.55000007,4.27886191 9.21421363,3.94307548 8.80000007,3.94307548 C8.61368984,3.94307548 8.43404911,4.01242035 8.29606274,4.13760526 Z" fill="currentColor" fill-rule="nonzero" opacity="0.3" />
                        <path d="M23.2951173,17.7910156 C23.2951173,16.9707031 23.4708985,13.7333984 20.9171876,11.1650391 C19.1984376,9.43652344 16.6261719,9.13671875 13.5500001,9 L13.5500001,4.69307548 C13.5500001,4.27886191 13.2142136,3.94307548 12.8000001,3.94307548 C12.6136898,3.94307548 12.4340491,4.01242035 12.2960627,4.13760526 L5.15599693,10.6152626 C4.8492192,10.8935795 4.82614714,11.3678924 5.10446404,11.6746702 C5.11907213,11.6907721 5.13437346,11.7062312 5.15032466,11.7210037 L12.2903905,18.333467 C12.5942967,18.6149166 13.0688214,18.596712 13.350271,18.2928057 C13.4786691,18.1541628 13.5500001,17.9721616 13.5500001,17.7831961 L13.5500001,13.5 C15.5031251,13.5537109 16.8943705,13.6779456 18.1583985,14.0800781 C19.9784273,14.6590944 21.3849749,16.3018455 22.3780412,19.0083314 L22.3780249,19.0083374 C22.4863904,19.3036749 22.7675498,19.5 23.0821406,19.5 L23.3000001,19.5 C23.3000001,19.0068359 23.2951173,18.2255859 23.2951173,17.7910156 Z" fill="currentColor" fill-rule="nonzero" />
                      </g>
                    </svg>
                  </span>
                </a>
                <a data-id="<%= notaDinas[i]._id %>" class="btn btn-sm btn-light-danger btn-icon mr-2" data-bs-toggle="modal" data-bs-target="#documentModal<%= notaDinas[i]._id %>" title="Lihat Nota Dinas">
                  <span class="svg-icon svg-icon-info svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="currentColor" fill-rule="nonzero" opacity="0.3" />
                        <rect fill="currentColor" x="6" y="11" width="9" height="2" rx="1" />
                        <rect fill="currentColor" x="6" y="15" width="5" height="2" rx="1" />
                      </g>
                    </svg>
                    <!--end::Svg Icon-->
                  </span>
                </a>

                <!-- modal view document pdf -->
                <div class="modal fade modal-lg" tabindex="-1" id="documentModal<%= notaDinas[i]._id %>">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title">Nota Dinas <%= notaDinas[i].noNotaDinas %> </h3>
                        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                          <span class="svg-icon svg-icon-1">
                            <span class="svg-icon svg-icon-primary svg-icon-2x">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="currentColor">
                                    <rect x="0" y="7" width="16" height="2" rx="1" />
                                    <rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1" />
                                  </g>
                                </g>
                              </svg>
                            </span>
                          </span>
                        </div>
                      </div>
                      <div class="modal-body">
                        <p id="errorMessage<%= notaDinas[i]._id %>" style="display: none;">Dokumen belum tersedia.</p>
                        <iframe src="/upload/signed/<%= notaDinas[i].document %>" width="100%" height="1080" type="application/pdf"></iframe>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- forward drawer -->
                <div id="kt_drawer_chat_<%= notaDinas[i]._id %>" class="bg-body" tabindex="-1" data-kt-drawer="true" data-kt-drawer-name="chat" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'md': '500px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_drawer_chat_toggle_<%= notaDinas[i]._id %>" data-kt-drawer-close="#kt_drawer_chat_close_<%= notaDinas[i]._id %>">
                  <div class="card w-100 rounded-0 border-0" id="kt_drawer_chat_messenger">
                    <div class="card-header pe-5" id="kt_drawer_chat_messenger_header_<%= notaDinas[i]._id %>">
                      <div class="card-title">
                        <div class="d-flex justify-content-center flex-column me-3">
                          <a href="#" class="fs-4 fw-bold text-gray-900 text-hover-primary me-1 mb-2 lh-1">Disposisi </a>
                          <div class="mb-0 lh-1">
                            <span class="fs-7 fw-semibold text-muted">No. <%= notaDinas[i].noNotaDinas %></span>
                          </div>
                        </div>
                      </div>
                      <div class="card-toolbar">
                        <div class="btn btn-sm btn-icon btn-active-light-primary" id="kt_drawer_chat_close_<%= notaDinas[i]._id %>">
                          <span class="svg-icon svg-icon-2">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                              <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                            </svg>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="card-body" id="kt_drawer_chat_messenger_body_<%= notaDinas[i]._id %>">
                      <div class="scroll-y me-n5 pe-5" data-kt-element="messages" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="525px" data-kt-scroll-dependencies="#kt_drawer_chat_messenger_header_<%= notaDinas[i]._id %>, #kt_drawer_chat_messenger_footer_<%= notaDinas[i]._id %>" data-kt-scroll-wrappers="#kt_drawer_chat_messenger_body_<%= notaDinas[i]._id %>" data-kt-scroll-offset="0px">

                        <div class="mb-5 hover-scroll-x">
                          <div class="d-grid">
                            <ul class="nav nav-tabs flex-nowrap text-nowrap">
                              <li class="nav-item">
                                <a class="nav-link active btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane_1_<%= notaDinas[i]._id %>">Disposisi</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane_2_<%= notaDinas[i]._id %>">History</a>
                              </li>

                            </ul>
                          </div>
                        </div>

                        <form id="form<%= notaDinas[i]._id %>" action="/notadinas/disposisi/<%= notaDinas[i]._id %>" method="post">
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="kt_tab_pane_1_<%= notaDinas[i]._id %>" role="tabpanel">
                              <div class="rounded border border-gray-300 mb-5">
                                <input type="text" name="notaDinasKode" id="notaDinasKode" value="<%= notaDinas[i]._id %>" hidden />
                                <div class="row mb-5">
                                  <% if (disposisiMaster.length > 5) { %>
                                  <% for(let i=0; i < disposisiMaster.length; i++) { %>
                                  <div class="col-sm-6">
                                    <div class="form-check form-check-custom mb-1">
                                      <input class="form-check-input disposisi" type="checkbox" id="disposisi_<%= disposisiMaster[i]._id %>" name="disposisi[]" value="<%= disposisiMaster[i].disposisi %>" />
                                      <label class="form-check-label" for="disposisi_<%= disposisiMaster[i]._id %>"> <%= disposisiMaster[i].disposisi %></label>
                                    </div>
                                  </div>
                                  <% } %>
                                  <% } %>
                                </div>

                                <div class="form-group mb-5">
                                  <label class="required form-label" for=""> Kepada</label>
                                  <select class="form-select form-select-solid" id="penerima_<%= notaDinas[i]._id %>" name="penerima" data-control="select2" data-dropdown-parent="#kt_drawer_chat_<%= notaDinas[i]._id %>" data-placeholder="disposis kepada" data-allow-clear="true" required>
                                    <option></option>
                                    <% users.forEach(user=> { %>
                                    <option value="<%= user.jabatan.sebutanJabatan%>">
                                      <%= user.username %> - <%= user.jabatan.sebutanJabatan %>
                                    </option>
                                    <% }) %>
                                  </select>
                                </div>

                                <div class="form-group mb-5">
                                  <label class="form-label"> Keterangan </label>
                                  <textarea type="text" id="tindakLanjut_<%= notaDinas[i]._id %>" name="tindakLanjut" class="form-control" required></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="tab-pane fade" id="kt_tab_pane_2_<%= notaDinas[i]._id %>" role="tabpanel">
                              <% notaDinas[i].disposisi.forEach(disposisi => { %>
                              <div class="card card-bordered mb-2">
                                <div class="card-body p-4">
                                  <div class="mb-4">
                                    <div class="row">
                                      <div class="col-sm-4"><span class="badge badge-info"><%= disposisi.pengirim %></span></div>
                                      <div class="col-sm-8 d-flex justify-content-end"><%= disposisi.tanggal%></div>
                                    </div>
                                    <div class="separator my-4"></div>
                                    <div class="row">
                                      <div class="col-sm-3">Penerima</div>
                                      <div class="col-sm-1 d-flex justify-content-end">:</div>
                                      <div class="col-sm-8"><%= disposisi.penerima %></div>
                                    </div>
                                    <div class="row">
                                      <div class="col-sm-3">Keterangan</div>
                                      <div class="col-sm-1 d-flex justify-content-end">:</div>
                                      <div class="col-sm-8"><%= disposisi.tindakLanjut %></div>
                                    </div>
                                    <div class="row">
                                      <div class="col-sm-3">Disposisi</div>
                                      <div class="col-sm-1 d-flex justify-content-end">:</div>
                                      <div class="col-sm-8">
                                        <div class="d-flex flex-column">
                                          <% disposisi.disposisi.forEach(ds => { %>
                                          <li class="d-flex align-items-center">
                                            <span class="bullet bullet-dot me-3"></span> <%= ds %>
                                          </li>
                                          <% }) %>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <% }) %>

                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="card-footer pt-4" id="kt_drawer_chat_messenger_footer_<%= notaDinas[i]._id %>">
                      <div class="d-flex flex-end">
                        <button class="btn btn-primary" type="submit">Send</button>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>





<%# include ../partials/modals.ejs %>

<%- include ../partials/footer.ejs %>
<%- include ../partials/js.ejs %>
<script>
  $('.select2-multiple').select2();


  function refresh() {
    location.reload();
  }

  function submitForm() {
    const notaDinasKode = document.getElementById('notaDinasKode').value;
    const checkboxes = document.querySelectorAll('.disposisi:checked');
    const disposisiValues = Array.from(checkboxes).map((checkbox) => checkbox.value);
    const penerima = document.getElementById(`penerima_${notaDinasKode}`).value;
    const tindakLanjut = document.getElementById(`tindakLanjut_${notaDinasKode}`).value;

    const data = {
      notaDinasKode: notaDinasKode,
      disposisi: disposisiValues,
      penerima: penerima,
      tindakLanjut: tindakLanjut
    };

    fetch('/submit', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then((response) => response.json())
      .then((result) => {
        // Handle response from server
        console.log(result);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }


  $("#kt_datatable_dom_positioning").DataTable({
    "language": {
      "lengthMenu": "Show _MENU_",
    },
    "dom": "<'row'<'col-sm-6'l><'col-sm-5' f><'col-sm-1'<'button-container'>>>" +
      "<'table-responsive'tr>" +
      "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
    "initComplete": function() {
      $("div.button-container").append(`<button class="btn btn-sm btn-light-primary btn-icon mt-4" onclick="refresh()"><span class="svg-icon svg-icon-primary svg-icon-2x"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24"/>
            <path d="M12,8 L8,8 C5.790861,8 4,9.790861 4,12 L4,13 C4,14.6568542 5.34314575,16 7,16 L7,18 C4.23857625,18 2,15.7614237 2,13 L2,12 C2,8.6862915 4.6862915,6 8,6 L12,6 L12,4.72799742 C12,4.62015048 12.0348702,4.51519416 12.0994077,4.42878885 C12.264656,4.2075478 12.5779675,4.16215674 12.7992086,4.32740507 L15.656242,6.46136716 C15.6951359,6.49041758 15.7295917,6.52497737 15.7585249,6.56395854 C15.9231063,6.78569617 15.876772,7.09886961 15.6550344,7.263451 L12.798001,9.3840407 C12.7118152,9.44801079 12.607332,9.48254921 12.5,9.48254921 C12.2238576,9.48254921 12,9.25869158 12,8.98254921 L12,8 Z" fill="currentColor"/>
            <path d="M12.0583175,16 L16,16 C18.209139,16 20,14.209139 20,12 L20,11 C20,9.34314575 18.6568542,8 17,8 L17,6 C19.7614237,6 22,8.23857625 22,11 L22,12 C22,15.3137085 19.3137085,18 16,18 L12.0583175,18 L12.0583175,18.9825492 C12.0583175,19.2586916 11.8344599,19.4825492 11.5583175,19.4825492 C11.4509855,19.4825492 11.3465023,19.4480108 11.2603165,19.3840407 L8.40328311,17.263451 C8.18154548,17.0988696 8.13521119,16.7856962 8.29979258,16.5639585 C8.32872576,16.5249774 8.36318164,16.4904176 8.40207551,16.4613672 L11.2591089,14.3274051 C11.48035,14.1621567 11.7936615,14.2075478 11.9589099,14.4287888 C12.0234473,14.5151942 12.0583175,14.6201505 12.0583175,14.7279974 L12.0583175,16 Z" fill="currentColor" opacity="0.3"/>
          </g>
        </svg>
      </span>
    </button>`);
    }
    // dom: "<'row'" +
    //   "<'col-sm-6 d-flex align-items-center justify-conten-start'l>" +
    //   "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
    //   ">" +

    //   "<'table-responsive'tr>" +

    //   "<'row'" +
    //   "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
    //   "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
    //   ">"
  });
</script>