<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>
<%- include ../partials/sidebar.ejs %>

<div id="kt_app_toolbar" class="py-3 py-lg-6">
  <div id="kt_app_toolbar_container" class="app-container">
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
      <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
        Konsep Nota Dinas
      </h1>
      <ol class="breadcrumb text-muted fs-7 fw-semibold pt-1">
        <li class="breadcrumb-item"><a href="/" class="">Home</a></li>
        <li class="breadcrumb-item"><a href="/notadinas" class="">Nota Dinas</a></li>
        <li class="breadcrumb-item text-muted">Konsep</li>
      </ol>
    </div>
    <div class="card shadow-sm mt-5">
      <div class="card-header">
        <h3 class="card-title">Form Buat Konsep</h3>
      </div>
      <div class="card-body">
        <div class="mb-5">
          <div class="row">
            <div class="col-md-6">

              <div class="mb-5 hover-scroll-x">
                <div class="d-grid">
                  <ul class="nav nav-tabs flex-nowrap text-nowrap">
                    <li class="nav-item">
                      <a class="nav-link active btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane_1">Kepala Surat</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link  btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane_2">Isi Surat</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link  btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane_3">Attachment</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link  btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane_4">Penerima</a>
                    </li> -->
                  </ul>
                </div>
              </div>

              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel">
                  <form id="myForm">
                    <div class="row mb-5 d-flex align-items-center">
                      <div class="col-md-4">
                        <label class="required form-label">Penerima</label>
                      </div>
                      <div class="col-md-8">
                        <select class="form-select" id="penerima" name="penerima" data-control="select2" data-placeholder="dikirimkan kepada" data-allow-clear="true">
                          <option></option>
                          <% users.forEach(user=> { %>
                          <option value="<%= user.jabatan.sebutanJabatan %>">
                            <%= user.username %> - <%= user.jabatan.sebutanJabatan %>
                          </option>
                          <% }) %>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-5 d-flex align-items-center">
                      <div class="col-md-4">
                        <label class="required form-label">Pemeriksa</label>
                      </div>
                      <div class="col-md-8">
                        <select class="form-select" id="pemeriksa" name="pemeriksa" data-control="select2" data-placeholder="diperiksa oleh" data-allow-clear="true">
                          <option value=""></option>
                          <% users.forEach(user=> { %>
                          <option value="<%= user.jabatan.sebutanJabatan %>" data-email="<%= user.email %>" data-kode="<%= user.username %>" data-jabatan="<%= user.jabatan.sebutanJabatan %>" data-divisi="<%= user.jabatan.namaUnit %>">
                            <%= user.username %> - <%= user.jabatan.sebutanJabatan %>
                          </option>
                          <% }) %>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-5 d-flex align-items-center">
                      <div class="col-md-4">
                        <label class="required form-label"> Tanggal </label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control" name="tanggal" placeholder="pilih tanggal" id="tanggal" />
                      </div>
                    </div>

                    <div class="row mb-5 d-flex align-items-center">
                      <div class="col-md-4">
                        <label class="required form-label">Kode Klasifikasi</label>
                      </div>
                      <div class="col-md-8">
                        <select class="form-select" id="kodeKlasifikasi" name="kodeKlasifikasi" data-control="select2" data-placeholder="pilih kode klasifikasi" data-allow-clear="true">
                          <option value=""></option>
                          <% klasifikasi.forEach(data=> { %>
                          <% data.klasifikasi.forEach(index=> { %>
                          <option value="<%= index.kode %>">
                            <%= index.kode %> - <%= index.jenis %>
                          </option>
                          <% }) %>
                          <% }) %>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-5 d-flex align-items-center">
                      <div class="col-md-4">
                        <label class="required form-label" for="sifat">Sifat Penyampaian</label>
                      </div>
                      <div class="col-md-8">
                        <select class="form-select" name="sifatPenyampaian" id="sifatPenyampaian" data-control="select2" data-placeholder="pilih sifat penyampaian" data-allow-clear="true">
                          <option></option>
                          <option value="biasa">Biasa</option>
                          <option value="segera">Segera</option>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-5 d-flex align-items-center">
                      <div class="col-md-4">
                        <label class="required form-label" for="sifat">Sifat Pengamanan</label>
                      </div>
                      <div class="col-md-8">
                        <select class="form-select" name="sifatPengamanan" id="sifatPengamanan" data-control="select2" data-placeholder="pilih sifat pengamanan" data-allow-clear="true">
                          <option></option>
                          <option value="biasa">Biasa</option>
                          <option value="rahasia">Rahasia</option>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-5 d-flex align-items-center">
                      <div class="col-md-4">
                        <label class="form-label"> Lampiran</label>
                      </div>
                      <div class="col-md-8">
                        <div class="row">
                          <div class="col-sm-4">
                            <input type="number" class="form-control" id="jumlah-lampiran" name="" value="" placeholder="0">
                          </div>
                          <div class="col-sm-8">
                            <select class=" form-control form-select" name="" id="tipe-lampiran" data-control="select2" data-placeholder="Lampiran" data-allow-clear="true">
                              <option></option>
                              <option value="Berkas">Berkas</option>
                              <option value="Halaman">Halaman</option>
                              <option value="Lembar">Lembar</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-5 d-flex align-items-center">
                      <div class="col-md-4">
                        <label class="required form-label">Hal</label>
                      </div>
                      <div class="col-md-8">
                        <textarea type="textarea" id="perihal" name="perihal" class="form-control"></textarea>
                      </div>
                    </div>

                    <div class="row mb-5 d-flex align-items-center">
                      <div class="col-md-4">
                        <label class="form-label">Tembusan</label>
                      </div>
                      <div class="col-md-8">
                        <select class="form-select" id="tembusan" name="tembusan[]" data-control="select2" data-close-on-select="tru" data-placeholder="dikirimkan kepada" data-allow-clear="true" multiple="multiple">
                          <option></option>
                          <% users.forEach(user=> { %>
                          <option value="<%= user.jabatan.sebutanJabatan %>">
                            <%= user.username %> - <%= user.jabatan.sebutanJabatan %>
                          </option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel">
                  <form action="">
                    <textarea id="my-expressjs-tinymce-app">
                      <p class="MsoNormal" align="justify">Dengan Hormat,</p>
                      <p class="MsoNormal" align="justify">Sehubungan akan dilaksanakan nya proses implementasi Digital Signed melalui Teken Aja, Berikut kami sampaikan Tambahan Komponen Rencana RAB untuk kebutuhan Teknis</p>
                      <table class="MsoTableGrid" style="width: 99.9616%; height: 86.8px;" border="1" cellspacing="0">
                      <tbody>
                      <tr style="height: 10px;">
                      <td style="width: 43.8293%; height: 10px;" valign="top" width="284">
                      <p class="MsoNormal" align="center"><strong>Layanan</strong></p>
                      </td>
                      <td style="width: 26.727%; height: 10px;" valign="top" width="284">
                      <p class="MsoNormal" align="center"><strong>Biaya</strong></p>
                      </td>
                      <td style="width: 29.4053%; height: 10px;" valign="top" width="285">
                      <p class="MsoNormal" align="center"><strong>Keterangan</strong></p>
                      </td>
                      </tr>
                      <tr style="height: 76.8px;">
                      <td style="width: 43.8293%; height: 76.8px;" valign="top" width="284">
                      <p class="MsoNormal" align="center">Domain Name Server (DNS)</p>
                      </td>
                      <td style="width: 26.727%; height: 76.8px;" valign="top" width="284">
                      <p class="MsoNormal" align="center">Rp. 262.630</p>
                      </td>
                      <td style="width: 29.4053%; height: 76.8px;" valign="top" width="285">
                      <p class="MsoNormal" align="center">Biaya Untuk 1 Tahun</p>
                      </td>
                      </tr>
                      </tbody>
                      </table>
                      <p class="MsoNormal" align="justify">&nbsp;</p>
                    </textarea>

                  </form>
                </div>
                <div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel">
                  <div class="form-group mb-5">
                    <label class="form-label" for="attachment"> Upload Dokumen Surat/Fax </label>
                    <input type="file" name="attachment" id="attachment" class="dropify" data-height="100" accept="application/pdf" />
                    <div class="text-danger">
                      <i>*Drop File atau klik disini untuk mengupload.</i>
                    </div>
                  </div>

                  <div class="pdf-container">
                    <embed id="viewerAttachment" src="" type="application/pdf" width="100%" height="850px" />
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6 row-divider">
              <div class="mb-2 d-flex justify-content-end">
                <button type="button" class="btn btn-primary hover-scale me-3 load-indicator" id="generate-pdf" onclick="generatePDF()">
                  <span class="indicator-label"> Preview </span>
                  <span class="indicator-progress">
                    Please wait... <span class="spinner-border spinner-border-sm align-middle"></span>
                  </span>
                </button>
                <button type="button" class="btn btn-primary hover-scale me-3 load-indicator" id="btnSimpan" onclick="simpanDraft()">
                  <span class="indicator-label"> Simpan </span>
                  <span class="indicator-progress">
                    Please wait... <span class="spinner-border spinner-border-sm align-middle"></span>
                  </span>
                </button>
                <button type="button" id="btnKirim" class="btn btn-info hover-scale me-3 load-indicator" onclick="sendPDF()">
                  <span class="indicator-label"> Kirim </span>
                  <span class="indicator-progress">
                    Please wait... <span class="spinner-border spinner-border-sm align-middle"></span>
                  </span>
                </button>

              </div>
              <iframe id="pdfViewer" width="100%" height="850px"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .row-divider {
    border-left: 1px solid #ccc;
    height: 100%;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
<script type="text/javascript" src="/dompurify/dist/purify.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.7/dist/html2canvas.min.js"></script>
<!-- <script src="/jspdf/dist/jspdf.umd.min.js"></script> -->

<script src="/javascripts/flatpickr-id.js"></script>

<script>
  $('.dropify').dropify({
    messages: {
      'default': 'Drag and drop a file here or click',
      'replace': 'Drag and drop or click to replace',
      'remove': 'Remove',
      'error': 'Ooops, something wrong happended.'
    }
  });

  $("#tanggal").flatpickr({
    enableTime: false,
    // dateFormat: "j F Y",
    locale: "id",
    maxDate: "today",
  });

  const attachment = document.getElementById('attachment');
  const pdfViewer = document.getElementById('viewerAttachment');
  const pdfContainer = document.querySelector('.pdf-container');
  const removeButton = document.querySelector('.dropify-clear');

  attachment.addEventListener('change', function(event) {
    const selectedFile = event.target.files[0];
    if (selectedFile && selectedFile.type === 'application/pdf') {
      pdfViewer.src = URL.createObjectURL(selectedFile);
      pdfContainer.style.display = 'block';
      removeButton.classList.remove('hidden');
    } else {
      alert('Mohon pilih file PDF.');
    }
  });

  removeButton.addEventListener('click', function() {
    attachment.value = ''; // Menghapus nilai input file
    pdfViewer.src = '';
    pdfContainer.style.display = 'none';
    removeButton.classList.add('hidden');
  });

  const btnPreview = document.querySelector("#generate-pdf");
  btnPreview.addEventListener("click", function() {
    btnPreview.setAttribute("data-kt-indicator", "on");
    setTimeout(function() {
      btnPreview.removeAttribute("data-kt-indicator");
    }, 3000);
  });
  const btnKirim = document.querySelector("#btnKirim");
  btnKirim.addEventListener("click", function() {
    btnKirim.setAttribute("data-kt-indicator", "on");
    setTimeout(function() {
      btnKirim.removeAttribute("data-kt-indicator");
    }, 3000);
  });
  const btnSimpan = document.querySelector("#btnSimpan");
  btnSimpan.addEventListener("click", function() {
    btnSimpan.setAttribute("data-kt-indicator", "on");
    setTimeout(function() {
      btnSimpan.removeAttribute("data-kt-indicator");
    }, 3000);
  });

  function generatePDF() {
    event.preventDefault();
    const tahunIni = new Date().getFullYear();
    const tanggal = $('#tanggal').val();
    // const pengirim = $('#pengirim').val();
    const penerima = $('#penerima').val();
    const pemeriksa = $('#pemeriksa').val();

    const date = new Date(tanggal);
    const options = {
      day: 'numeric',
      month: 'long',
      year: 'numeric'
    };
    const formattedDate = date.toLocaleDateString('id-ID', options);
    console.log(formattedDate);

    const selectElement = document.getElementById("pemeriksa");
    const selectedOption = selectElement.options[selectElement.selectedIndex];
    const kodeJabatan = selectedOption.getAttribute('data-kode'); // Mendapatkan nilai user.username
    const jabatan = selectedOption.getAttribute('data-jabatan'); // Mendapatkan nilai user.Jabatan
    const email = selectedOption.getAttribute('data-email');
    console.log("pemeriksa:", jabatan, kodeJabatan, email);

    const kodeKlasifikasi = $('#kodeKlasifikasi').val();
    const sifatPenyampaian = $('#sifatPenyampaian').val();
    const sifatPengamanan = $('#sifatPengamanan').val();

    const sifat = (sifatPenyampaian == "biasa") ? "-" : "Segera";
    const setSifatPengamanan = (sifatPengamanan == "rahasia") ? "-R" : "";

    const perihal = $('#perihal').val();
    let lampiran = ($("#jumlah-lampiran").val()) ? $("#jumlah-lampiran").val() + " " + $("#tipe-lampiran").val() : "-";
    const isiSurat = tinymce.activeEditor.getContent();
    const tembusan = $('#tembusan').val();

    console.log("tembusan:", tembusan);

    // const valueNoAgenda = `<%# typeof lastNoAgenda !== 'undefined' && lastNoAgenda !== null ? lastNoAgenda.noAgenda + 1 : 1 %>`;
    // const valueNoAgenda = `<%= noAgenda %>`;
    // const nomor = valueNoAgenda.toString().padStart(3, '0');
    // const nomorNotaDinas = `${nomor}/${kodeKlasifikasi}/${kodeJabatan}/${tahunIni}`;

    if (penerima == "") {
      Swal.fire("Perhatian", "Penerima tidak boleh kosong", "error");
    } else if (pemeriksa == "") {
      Swal.fire("Perhatian", "Pemeriksa tidak boleh kosong", "error");
    } else if (tanggal == "") {
      Swal.fire("Perhatian", "Tanggal tidak boleh kosong", "error");
    } else if (kodeKlasifikasi == "") {
      Swal.fire("Perhatian", "Kode klasifikasi tidak boleh kosong", "error");
    } else if (sifatPenyampaian == "") {
      Swal.fire("Perhatian", "Sifat Penyampaian tidak boleh kosong", "error");
    } else if (sifatPengamanan == "") {
      Swal.fire("Perhatian", "Sifat Pengamanan tidak boleh kosong", "error");
    } else if (perihal == "") {
      Swal.fire("Perhatian", "Perihal tidak boleh kosong", "error");
    } else if (isiSurat == "") {
      Swal.fire("Perhatian", "Isi surat tidak boleh kosong", "error");
    } else {
      $.ajax({
        url: '/notadinas/proses-konsep',
        method: 'POST',
        data: {
          tanggal
        },
        success: function(response) {
          console.log(response);
          console.log(response.status);
          if (response.status == "error") {
            Swal.fire("Perhatian", `${response.message}`, "error");
            return
          }

          const nomorNotaDinas = `${response.noAgenda}/${kodeKlasifikasi}/${kodeJabatan}/${tahunIni}${setSifatPengamanan}`;

          // Create new PDF document
          window.jsPDF = window.jspdf.jsPDF;
          const doc = new jsPDF('p', 'pt', 'a4');

          //header logo
          //logo
          const img = new Image();
          img.src = '/images/logo-500px.png';
          doc.addImage(img, 'png', 60, 10, 113, 85);

          const img2 = new Image();
          img2.src = '/images/logo-kanan.png';
          doc.addImage(img2, 'png', 320, 25, 200, 60);

          //line config
          const x = doc.internal.pageSize.getWidth() / 2;
          const panjangGaris = 450;
          const startX = x - (panjangGaris / 2);
          const endX = x + (panjangGaris / 2);
          //line header
          doc.setLineWidth(1);
          doc.line(startX, 100, endX, 100);
          // line footer
          doc.setLineWidth(1);
          doc.line(startX, 770, endX, 770);

          doc.setFontSize(8)
          doc.setFont("Helvetica", "bold")
          doc.text("PT. GERBANG SINERGI PRIMA", 72, 780)
          doc.setFont("Helvetica", "")
          doc.text("Jl. Cikutra No.219, Bandung - Jawa Barat", 72, 790)
          doc.text("Tlp : 022-426 6788 / Fax : - ", 72, 800)
          doc.text("Email : sekper@gsp.co.id", 72, 810)

          //body
          // garis
          const lineLength = 90;
          const startX2 = x - (lineLength / 2);
          const endX2 = x + (lineLength / 2);

          doc.setLineWidth(1);
          doc.line(startX2, 127, endX2, 127);

          doc.setFontSize(14);
          doc.setFont("Helvetica", "bold")
          doc.text(`NOTA DINAS`, x, 125, {
            align: "center"
          });
          doc.setFontSize(12);
          doc.setFont("Helvetica", "")
          doc.text(`Nomor : ${nomorNotaDinas}`, x, 145, {
            align: "center"
          });
          // kepala surat
          doc.text(`Kepada`, 72, 200, );
          doc.text(`Dari`, 72, 220, );
          doc.text(`Tanggal`, 72, 240, );
          doc.text(`Sifat`, 72, 260, );
          doc.text(`Lampiran`, 72, 280, );
          doc.text(`Hal`, 72, 300, );

          doc.text(`: Yth. ${penerima}`, 140, 200);
          doc.text(`: ${pemeriksa}`, 140, 220);
          doc.text(`: ${formattedDate}`, 140, 240);
          doc.text(`: ${sifat}`, 140, 260);
          doc.text(`: ${lampiran}`, 140, 280);
          doc.text(`: ${perihal}`, 140, 300);

          //tembusan
          if (tembusan.length > 0) {
            doc.text("Tembusan :", 140, 700)
            let y = 730
            let no = 1;
            for (let i = 0; i < tembusan.length; i++) {
              doc.text(`${no++}. ${tembusan[i]}`, 140, y)
              y += 20;
            }
          }

          //tandatangan
          doc.text(`${jabatan}`, 440, 700, {
            align: 'center',
            maxWidth: 150
          });

          doc.html(isiSurat, {
            callback: function(doc) {
              const pdfViewer = document.getElementById("pdfViewer");
              pdfViewer.src = doc.output("datauristring");

              const out = doc.output();
              const url = 'data:application/pdf;base64,' + btoa(out);

              fetch('/notadinas/konsep', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    document: url,
                    nomor: nomorNotaDinas,
                    tahun: tahunIni
                  })
                })
                .then(response => {
                  console.log(response);
                })
                .catch(error => {
                  console.error("error :" + error);
                });
            },
            width: 370,
            windowWidth: 380,
            x: 140,
            y: 350
          });

        },
        error: function(error) {
          console.error('Terjadi kesalahan:', error);
        }
      })
    } // end else
  }

  function sendPDF() {

    const tahun = new Date().getFullYear();
    const tanggal = $('#tanggal').val();
    // const pengirim = `<%# jabatan.sebutanJabatan %>`;
    const penerima = $('#penerima').val();
    const pemeriksa = $('#pemeriksa').val();

    const isiSurat = tinymce.activeEditor.getContent();
    const tembusan = $('#tembusan').val();

    const selectElement = document.getElementById("pemeriksa");
    const selectedOption = selectElement.options[selectElement.selectedIndex];
    const kodeJabatan = selectedOption.getAttribute('data-kode'); // Mendapatkan nilai user.username
    const email = selectedOption.getAttribute('data-email');
    const divisi = selectedOption.getAttribute('data-divisi');
    console.log("pemeriksa:", email);
    //
    const sifatPenyampaian = $('#sifatPenyampaian').val();
    const sifatPengamanan = $('#sifatPengamanan').val();
    const sifat = (sifatPenyampaian == "biasa") ? "-" : "Segera";
    const setSifatPengamanan = (sifatPengamanan == "rahasia") ? "-R" : "";

    const perihal = $('#perihal').val();
    const jumlahLampiran = $("#jumlah-lampiran").val();
    const jenisLampiran = $("#tipe-lampiran").val();
    const lampiran = jumlahLampiran + " " + jenisLampiran;
    const kodeKlasifikasi = $('#kodeKlasifikasi').val();

    // const noAgenda = `<%= noAgenda %>`;
    // const nomor = noAgenda.toString().padStart(3, '0');
    // const noNotaDinas = `${nomor}/${kodeKlasifikasi}/${kodeJabatan}/${tahun}`;
    // const nomor = noAgenda.toString().padStart(3, '0');
    // const noNotaDinas = `${noAgenda}/${kodeKlasifikasi}/${kodeJabatan}/${tahun}`;

    // console.log(noNotaDinas);

    $.ajax({
      url: '/notadinas/proses-konsep',
      method: 'POST',
      data: {
        tanggal

      },
      success: function(response) {

        const noNotaDinas = `${response.noAgenda}/${kodeKlasifikasi}/${kodeJabatan}/${tahun}${setSifatPengamanan}`;

        const formData = new FormData();
        const attachment = document.querySelector('#attachment');
        for (let i = 0; i < attachment.files.length; i++) {
          formData.append('file', attachment.files[i]);
        }

        var selectedTembusan = $('#myForm select[name="tembusan[]"]').val();
        for (var i = 0; i < selectedTembusan.length; i++) {
          formData.append('tembusan[]', selectedTembusan[i]);
        }

        const split = response.noAgenda.split('-'); // Pisahkan nomor dan sisipan

        formData.append('noNotaDinas', noNotaDinas);
        formData.append('noAgenda', split[0]);
        formData.append('tanggal', tanggal);
        formData.append('tahun', tahun);
        formData.append('dari', pemeriksa); // pemeriksa
        formData.append('kepada', penerima); // penerima
        formData.append('pemeriksa', pemeriksa);
        // formData.append('pengirim', pengirim);
        formData.append('perihal', perihal);
        formData.append('jumlahLampiran', jumlahLampiran);
        formData.append('jenisLampiran', jenisLampiran);
        formData.append('kodeKlasifikasi', kodeKlasifikasi);
        formData.append('sifatPenyampaian', sifatPenyampaian);
        formData.append('sifatPengamanan', sifatPengamanan);
        formData.append('isiSurat', isiSurat);
        formData.append('email', email);
        formData.append('divisi', divisi);

        if (penerima == "") {
          Swal.fire("Perhatian", "Penerima tidak boleh kosong", "error");
        } else if (pemeriksa == "") {
          Swal.fire("Perhatian", "Pemeriksa tidak boleh kosong", "error");
        } else if (tanggal == "") {
          Swal.fire("Perhatian", "Tanggal tidak boleh kosong", "error");
        } else if (kodeKlasifikasi == "") {
          Swal.fire("Perhatian", "Kode klasifikasi tidak boleh kosong", "error");
        } else if (sifat == "") {
          Swal.fire("Perhatian", "Sifat tidak boleh kosong", "error");
        } else if (perihal == "") {
          Swal.fire("Perhatian", "Perihal tidak boleh kosong", "error");
        } else if (isiSurat == "") {
          Swal.fire("Perhatian", "Isi surat tidak boleh kosong", "error");
        } else {
          fetch('/notadinas/kirim', {
              method: 'POST',
              body: formData
            })
            .then(response => {
              console.log(response);
              if (response.ok) {
                console.log(response);
                Swal.fire("Berhasil", "Nota dinas berhasil dikirim", "success");
              } else {
                Swal.fire("Perhatian", "Bad request", "error");
                console.error(response);
              }
            })
            .catch(error => {
              console.error('Terjadi kesalahan:', error);
            });
        }
      }
    })
  }

  function simpanDraft() {
    event.preventDefault();

    const tahun = new Date().getFullYear();
    const tanggal = $('#tanggal').val();
    const penerima = $('#penerima').val();
    const pemeriksa = $('#pemeriksa').val();

    const isiSurat = tinymce.activeEditor.getContent();
    const tembusan = $('#tembusan').val();

    const selectElement = document.getElementById("pemeriksa");
    const selectedOption = selectElement.options[selectElement.selectedIndex];
    const kodeJabatan = selectedOption.getAttribute('data-kode'); // Mendapatkan nilai user.username
    const email = selectedOption.getAttribute('data-email');
    const divisi = selectedOption.getAttribute('data-divisi');

    const sifatPenyampaian = $('#sifatPenyampaian').val();
    const sifatPengamanan = $('#sifatPengamanan').val();
    const sifat = (sifatPenyampaian == "biasa") ? "-" : "Segera";
    const setSifatPengamanan = (sifatPengamanan == "rahasia") ? "-R" : "";

    const perihal = $('#perihal').val();
    const jumlahLampiran = $("#jumlah-lampiran").val();
    const jenisLampiran = $("#tipe-lampiran").val();
    const lampiran = jumlahLampiran + " " + jenisLampiran;
    const kodeKlasifikasi = $('#kodeKlasifikasi').val();

    $.ajax({
      url: '/notadinas/proses-konsep',
      method: 'POST',
      data: {
        tanggal
      },
      success: function(response) {
        const noNotaDinas = `${response.noAgenda}/${kodeKlasifikasi}/${kodeJabatan}/${tahun}${setSifatPengamanan}`;

        const formData = new FormData();
        const attachment = document.querySelector('#attachment');
        for (let i = 0; i < attachment.files.length; i++) {
          formData.append('file', attachment.files[i]);
        }

        var selectedTembusan = $('#myForm select[name="tembusan[]"]').val();
        for (var i = 0; i < selectedTembusan.length; i++) {
          formData.append('tembusan[]', selectedTembusan[i]);
        }

        const split = response.noAgenda.split('-'); // Pisahkan nomor dan sisipan

        formData.append('noNotaDinas', noNotaDinas);
        formData.append('noAgenda', split[0]);
        formData.append('tanggal', tanggal);
        formData.append('tahun', tahun);
        formData.append('dari', pemeriksa); // pemeriksa
        formData.append('kepada', penerima); // penerima
        formData.append('pemeriksa', pemeriksa);
        formData.append('perihal', perihal);
        formData.append('jumlahLampiran', jumlahLampiran);
        formData.append('jenisLampiran', jenisLampiran);
        formData.append('kodeKlasifikasi', kodeKlasifikasi);
        formData.append('sifatPenyampaian', sifatPenyampaian);
        formData.append('sifatPengamanan', sifatPengamanan);
        formData.append('isiSurat', isiSurat);
        formData.append('email', email);
        formData.append('divisi', divisi);

        if (penerima == "") {
          Swal.fire("Perhatian", "Penerima tidak boleh kosong", "error");
        } else if (pemeriksa == "") {
          Swal.fire("Perhatian", "Pemeriksa tidak boleh kosong", "error");
        } else if (tanggal == "") {
          Swal.fire("Perhatian", "Tanggal tidak boleh kosong", "error");
        } else if (kodeKlasifikasi == "") {
          Swal.fire("Perhatian", "Kode klasifikasi tidak boleh kosong", "error");
        } else if (sifat == "") {
          Swal.fire("Perhatian", "Sifat tidak boleh kosong", "error");
        } else if (perihal == "") {
          Swal.fire("Perhatian", "Perihal tidak boleh kosong", "error");
        } else if (isiSurat == "") {
          Swal.fire("Perhatian", "Isi surat tidak boleh kosong", "error");
        } else {
          fetch('/notadinas/draft', {
              method: 'POST',
              body: formData
            })
            .then(response => {
              console.log(response);
              if (response.ok) {
                console.log(response);
                Swal.fire("Berhasil", "Nota dinas berhasil dikirim", "success");
              } else {
                Swal.fire("Perhatian", "Bad request", "error");
                console.error(response);
              }
            })
            .catch(error => {
              console.error('Terjadi kesalahan:', error);
            });
        }
      },
      error: function(error) {
        console.error('Terjadi kesalahan:', error);
      }
    })
  }

  $(document).ready(function() {
    window.jsPDF = window.jspdf.jsPDF;
    const doc = new jsPDF('p', 'pt', 'a4');
    //header
    //logo
    const img = new Image();
    img.src = '/images/logo-500px.png';
    doc.addImage(img, 'png', 60, 10, 113, 85);

    const img2 = new Image();
    img2.src = '/images/logo-kanan.png';
    doc.addImage(img2, 'png', 320, 25, 200, 60);

    //line config
    const x = doc.internal.pageSize.getWidth() / 2;
    const panjangGaris = 450;
    const startX = x - (panjangGaris / 2);
    const endX = x + (panjangGaris / 2);
    //line header
    doc.setLineWidth(1);
    doc.line(startX, 100, endX, 100);
    // line footer
    doc.setLineWidth(1);
    doc.line(startX, 770, endX, 770);

    doc.setFontSize(8)
    doc.setFont("Helvetica", "bold")
    doc.text("PT. GERBANG SINERGI PRIMA", 72, 780)
    doc.setFont("Helvetica", "")
    doc.text("Jl. Cikutra No.219, Bandung - Jawa Barat", 72, 790)
    doc.text("Tlp : 022-426 6788 / Fax : - ", 72, 800)
    doc.text("Email : sekper@gsp.co.id", 72, 810)

    //body
    // garis
    const lineLength = 90;
    const startX2 = x - (lineLength / 2);
    const endX2 = x + (lineLength / 2);

    doc.setLineWidth(1);
    doc.line(startX2, 127, endX2, 127);

    doc.setFontSize(14);
    doc.setFont("Helvetica", "bold")
    doc.text(`NOTA DINAS`, x, 125, {
      align: "center"
    });
    doc.setFontSize(12);
    doc.setFont("Helvetica", "")
    doc.text(`Nomor : .../.../.../2023`, x, 145, {
      align: "center"
    });

    doc.text(`Kepada`, 72, 200, );
    doc.text(`Dari`, 72, 220, );
    doc.text(`Tanggal`, 72, 240, );
    doc.text(`Sifat`, 72, 260, );
    doc.text(`Lampiran`, 72, 280, );
    doc.text(`Hal`, 72, 300, );

    doc.text(`: Yth. .....`, 140, 200);
    doc.text(`: .....`, 140, 220);
    doc.text(`: .....`, 140, 240);
    doc.text(`: .....`, 140, 260);
    doc.text(`: .....`, 140, 280);
    doc.text(`: .....`, 140, 300);
    //tembusan
    doc.text("Tembusan :", 140, 700)
    doc.text("1. .....", 140, 730)
    doc.text("2. .....", 140, 750)

    //tandatangan
    const imgSign = new Image();
    imgSign.src = '/images/sign.png';
    doc.addImage(imgSign, 'png', 420, 620, 50, 50); // x, y, width, height
    doc.text(`########`, 440, 700, {
      align: 'center',
      maxWidth: 150
    });

    const pdfViewer = document.getElementById("pdfViewer");
    pdfViewer.src = doc.output("datauristring");

  });
</script>



<%- include ../partials/footer.ejs %>
<%- include ../partials/js.ejs %>