<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>
<%- include ../partials/sidebar.ejs %>

<div id="kt_app_toolbar" class="py-3 py-lg-6">
  <div id="kt_app_toolbar_container" class="app-container">
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
      <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0"> <%= title %> </h1>
      <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
        <li class="breadcrumb-item text-muted"> <a href="/" class="text-muted text-hover-primary">Home</a> </li>
        <li class="breadcrumb-item"> <span class="bullet bg-gray-400 w-5px h-2px"></span> </li>
        <li class="breadcrumb-item text-muted"> <a href="/notadinas" class="text-muted text-hover-primary">Nota Dinas</a> </li>
        <li class="breadcrumb-item"> <span class="bullet bg-gray-400 w-5px h-2px"></span> </li>
        <li class="breadcrumb-item text-muted"><%= title %></li>
      </ul>
    </div>
    <div class="card shadow-sm mt-5">
      <div class="card-body">
        <div class="mb-5">
          <div class="row">
            <div class="col-md-6">

              <div class="mb-5 hover-scroll-x">
                <div class="d-grid">
                  <ul class="nav nav-tabs flex-nowrap text-nowrap">
                    <li class="nav-item">
                      <a class="nav-link active btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane_1">Kelapa Surat</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link  btn btn-active-light btn-color-gray-600 btn-active-color-primary rounded-bottom-0" data-bs-toggle="tab" href="#kt_tab_pane_2">Isi Surat</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel">
                  <form>
                    <div class="form-group mb-3">
                      <label class="required form-label">Kepada</label>
                      <select class="form-select form-select-solid" id="kepada" name="kepada" data-control="select2" data-placeholder="Dikirimkan kepada" data-allow-clear="true">
                        <option value="user2">Dikirimkan kepada</option>
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <label class="required form-label"> Dari</label>
                      <input type="text" id="dari" name="dari" class="form-control" value="<%= username %>" />
                    </div>
                    <div class="form-group mb-3">
                      <label class="required form-label" for="sifat">Sifat</label>
                      <select class="form-select form-select-solid" name="sifat" id="sifat" data-control="select2" data-placeholder="Pilih sifat" data-allow-clear="true">
                        <option></option>
                        <option value="Segera">Segera</option>
                        <option value="Amat Segera">Amat Segera
                        </option>
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <label class="required form-label"> Lampiran</label>
                      <input type="text" id="lampiran" name="lampiran" class="form-control" value="" />
                    </div>
                    <div class="form-group mb-3">
                      <label class="required form-label">Hal</label>
                      <textarea type="textarea" id="perihal" name="perihal" class="form-control"></textarea>
                    </div>
                    <button id="generate-pdf" class="btn btn-primary" onclick="generatePDF()">Preview</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel">
                  <form action="">
                    <textarea id="my-expressjs-tinymce-app">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo veniam omnis nostrum iste magni veritatis ipsa. Est, vitae totam. In ipsam fugiat reprehenderit, non officia quisquam earum? Mollitia sit ipsam placeat aut repellendus aperiam pariatur nostrum veritatis facilis, nam quam hic nobis numquam incidunt praesentium, ex exercitationem magnam nemo! Est ipsa, voluptatum quaerat vel delectus dolorum odit asperiores exercitationem, at commodi culpa quae explicabo numquam necessitatibus blanditiis illum? Veritatis quidem quo, neque ut atque, tempore aliquid placeat perferendis in repellat minus facilis! Necessitatibus deserunt esse veniam tempora, ullam hic? Inventore, eaque? Aperiam nulla voluptate numquam adipisci, quae repudiandae ullam blanditiis!</textarea>
                    <button id="generate-pdf" class="btn btn-primary mt-3" onclick="generatePDF()">Preview</button>
                  </form>
                </div>

                <div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel">
                  .....
                </div>
              </div>


            </div>
            <div class="col-md-6 row-divider">
              <iframe id="pdf-viewer" width="100%" height="940px"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .row-divider {
    border-left: 1px solid #ccc;
    height: 100%;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
<script type="text/javascript" src="/dompurify/dist/purify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.7/dist/html2canvas.min.js"></script>
<script>
  function generatePDF() {
    event.preventDefault();
    const dari = $('#dari').val();
    const kepada = $('#kepada').val();
    const sifat = $('#sifat').val();
    const perihal = $('#perihal').val();
    const lampiran = $('#lampiran').val();
    const isiSurat = tinymce.activeEditor.getContent();

    // Create new PDF document
    window.jsPDF = window.jspdf.jsPDF;
    const doc = new jsPDF('p', 'pt', 'a4');


    doc.setFontSize(14);
    const font = doc.getFontList()
    console.log(font);
    doc.setFont("Helvetica", "bold")
    doc.text(`NOTA DINAS`, 300, 72, {
      align: "center"
    });

    doc.setFontSize(12);
    doc.setFont("Helvetica", "")
    doc.text(`Nomor : .../.../.../2023`, 300, 85, {
      align: "center"
    });

    doc.text(`Kepada`, 72, 120, );
    doc.text(`Dari`, 72, 140, );
    doc.text(`Sifat`, 72, 160, );
    doc.text(`Hal`, 72, 180, );
    doc.text(`Lampiran`, 72, 200, );

    doc.text(`: ${kepada}`, 140, 120);
    doc.text(`: ${dari}`, 140, 140);
    doc.text(`: ${sifat}`, 140, 160);
    doc.text(`: ${perihal}`, 140, 180);
    doc.text(`: ${lampiran}`, 140, 200);
    // doc.text(`${isiSurat}`, 40, 70);

    doc.html(isiSurat, {
      callback: function(doc) {
        // doc.setFontSize(12);
        // doc.setFont("Helvetica", "bold");
        // const fontSize = doc.getFontSize();
        // console.log("font size : " + fontSize);

        // const getfont = doc.getFont();
        // console.log(getfont);

        const pdfViewer = document.getElementById("pdf-viewer");
        pdfViewer.src = doc.output("datauristring");
      },
      margin: [300, 72, 72, 72],
      width: 450,
      windowWidth: 450,
    });

    const pdfViewer = document.getElementById("pdf-viewer");
    pdfViewer.src = doc.output("datauristring");
  }

  $(document).ready(function() {
    window.jsPDF = window.jspdf.jsPDF;
    const doc = new jsPDF('p', 'pt', 'a4');

    doc.setFontSize(14);
    doc.setFont("Helvetica", "bold")
    doc.text(`NOTA DINAS`, 300, 72, {
      align: "center"
    });
    doc.setFontSize(12);
    doc.setFont("Helvetica", "")
    doc.text(`Nomor : .../.../.../2023`, 300, 85, {
      align: "center"
    });

    doc.text(`Kepada`, 72, 120, );
    doc.text(`Dari`, 72, 140, );
    doc.text(`Sifat`, 72, 160, );
    doc.text(`Hal`, 72, 180, );
    doc.text(`Lampiran`, 72, 200, );

    const separatorWidth = 72;
    const separatorText = ':';

    doc.text(separatorText, 72 + separatorWidth, 120, null, null, 'right');
    doc.text(separatorText, 72 + separatorWidth, 140, null, null, 'right');
    doc.text(separatorText, 72 + separatorWidth, 160, null, null, 'right');
    doc.text(separatorText, 72 + separatorWidth, 180, null, null, 'right');
    doc.text(separatorText, 72 + separatorWidth, 200, null, null, 'right');

    const pdfViewer = document.getElementById("pdf-viewer");
    pdfViewer.src = doc.output("datauristring");
  });
</script>



<%- include ../partials/footer.ejs %>
<%- include ../partials/js.ejs %>