<!-- <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.7.107/build/pdf.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.7.107/web/pdf_viewer.min.css" rel="stylesheet"> -->

<!-- <form action="/notadinas" method="get" class="mb-5">
  <div class="row">
    <div class="form-group col-sm-2">
      <input class="form-control input-sm" type="date" id="startdate" name="startdate">
    </div>
    <div class="form-group col-sm-2">
      <input class="form-control input-lg" type="date" id="endDate" name="enddate">
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary btn-sm" type="submit">Search</button>
    </div>
  </div>
</form> -->

<!-- <div class="row">
  <div class="col-sm"></div>
  <div class="col-sm"> -->
<!-- <button class="btn btn-primary btn-sm mb-3" onclick="refresh()">Reload</button> -->
<!-- </div>
</div> -->

<div class=" table-responsive">
  <table class="table table-hover table-rounded table-row-bordered" id="tabel_category">
    <thead>
      <tr class="fw-bold fs-6 text-gray-800">
        <th class="">No.</th>
        <th class="">No Nota Dinas</th>
        <th class="">Dari</th>
        <th class="">Kepada</th>
        <th class="">Hal</th>
        <th class="">Tanggal</th>
        <th class="">Dokumen</th>
        <th class="">Action</th>
      </tr>
    </thead>
    <tbody class="fw-semibold">
      <% for(let i=0; i < notaDinas.length; i++) { %>
      <tr class="odd">
        <td> <%= i +1 %></td>
        <td> <%= notaDinas[i].noNotaDinas %></td>
        <td> <%= notaDinas[i].dari %></td>
        <td> <%= notaDinas[i].kepada %></td>
        <td> <%= notaDinas[i].perihal %></td>
        <td> <%= notaDinas[i].tanggal %></td>
        <td> <%= notaDinas[i].document %></td>
        <td>
          <a data-id="<%= notaDinas[i]._id %>" class="btn btn-sm btn-light-primary btn-icon mr-2" data-bs-toggle="modal" data-bs-target="#signatureModal<%= notaDinas[i]._id %>" title="Signature">
            <span class="svg-icon svg-icon-primary svg-icon-2">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24" />
                  <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="currentColor" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) " />
                  <rect fill="currentColor" opacity="0.3" x="5" y="20" width="15" height="2" rx="1" />
                </g>
              </svg>
            </span>
          </a>
          <a data-id="<%= notaDinas[i]._id %>" class="btn btn-sm btn-light-danger btn-icon mr-2" data-bs-toggle="modal" data-bs-target="#documentModal<%= notaDinas[i]._id %>" title="Lihat Nota Dinas">
            <span class="svg-icon svg-icon-info svg-icon-2">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polygon points="0 0 24 0 24 24 0 24" />
                  <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#dbcafe" fill-rule="nonzero" opacity="0.3" />
                  <rect fill="#f1416c" x="6" y="11" width="9" height="2" rx="1" />
                  <rect fill="#f1416c" x="6" y="15" width="5" height="2" rx="1" />
                </g>
              </svg>
              <!--end::Svg Icon-->
            </span>
          </a>

          <!-- modal view document pdf -->
          <div class="modal fade modal-lg" tabindex="-1" id="documentModal<%= notaDinas[i]._id %>">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title">Nota Dinas <%= notaDinas[i].noNotaDinas %> </h3>
                  <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-1">
                      <span class="svg-icon svg-icon-primary svg-icon-2x">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="currentColor">
                              <rect x="0" y="7" width="16" height="2" rx="1" />
                              <rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="modal-body">
                  <p id="errorMessage<%= notaDinas[i]._id %>" style="display: none;">Dokumen belum tersedia.</p>
                  <iframe src="/upload/signed/<%= notaDinas[i].document %>#toolbar=0" width="100%" height="1080" type="application/pdf"></iframe>



                  <!-- <div id="pdfViewer"></div>
                  <script>
                    // Mendapatkan referensi ke elemen div yang akan menampilkan PDF
                    var viewerContainer = document.getElementById("pdfViewer");

                    // Mendefinisikan URL atau path ke file PDF
                    // var pdfUrl = "path_to_your_pdf_file.pdf";
                    var pdfUrl = "/upload/signed/<%= notaDinas[i].document %>";

                    // Memuat file PDF menggunakan PDF.js
                    pdfjsLib.getDocument(pdfUrl).promise.then(function(pdfDoc) {
                      // Mengatur nomor halaman pertama yang akan ditampilkan
                      var pageNumber = 1;

                      // Mengambil halaman PDF dari dokumen
                      pdfDoc.getPage(pageNumber).then(function(page) {
                        // Mengatur skala tampilan PDF
                        var scale = 1.3;

                        // Mendapatkan ukuran halaman PDF
                        var viewport = page.getViewport({
                          scale: scale
                        });

                        // Membuat elemen canvas
                        var canvas = document.createElement("canvas");

                        // Mendapatkan konteks rendering canvas
                        var context = canvas.getContext("2d");
                        canvas.width = viewport.width;
                        canvas.height = viewport.height;

                        // Menambahkan canvas ke wadah tampilan PDF
                        viewerContainer.appendChild(canvas);

                        // Membuat objek tampilan PDF
                        var renderContext = {
                          canvasContext: context,
                          viewport: viewport
                        };

                        // Merender halaman PDF ke dalam canvas
                        page.render(renderContext);
                      });
                    });
                  </script> -->

                  <!-- <div id="pdfViewer<%= notaDinas[i]._id %>">
                    <p id="errorMessage<%= notaDinas[i]._id %>" style="display: none;">Dokumen belum tersedia.</p>
                  </div> -->

                  <!-- <script id="<%= notaDinas[i]._id %>">
                    var viewerContainer = document.getElementById("pdfViewer<%= notaDinas[i]._id %>");
                    var errorMessage = document.getElementById("errorMessage<%= notaDinas[i]._id %>");
                    var pdfUrl = "/upload/signed/<%= notaDinas[i].document %>";

                    pdfjsLib.getDocument(pdfUrl).promise
                      .then(function(pdfDoc) {
                        var pageNumber = 1;

                        return pdfDoc.getPage(pageNumber).then(function(page) {
                          var scale = 1.3;
                          var viewport = page.getViewport({
                            scale: scale
                          });
                          var canvas = document.createElement("canvas");
                          canvas.id = 'pdfViewer<%= notaDinas[i]._id %>'
                          var context = canvas.getContext("2d");
                          canvas.width = viewport.width;
                          canvas.height = viewport.height;
                          viewerContainer.appendChild(canvas);

                          var renderContext = {
                            canvasContext: context,
                            viewport: viewport
                          };

                          page.render(renderContext);
                        });
                      })
                      .catch(function(error) {
                        // Jika terjadi error saat memuat dokumen PDF
                        errorMessage.style.display = "block";
                        // console.error("Error: " + error);
                      })
                  </script> -->
                </div>
              </div>
            </div>
          </div>

          <!-- modal signature -->
          <div class="modal bg-body fade" tabindex="-1" id="signatureModal<%= notaDinas[i]._id %>">
            <div class="modal-dialog modal-fullscreen">
              <div class="modal-content shadow-none">
                <div class="modal-header">
                  <h5 class="modal-title">Signature <%= notaDinas[i].dataResponse.sign[0].url %></h5>
                  <!-- <a href="https://ttd.sandbox-111094.com/l5rknGpkAUCSJN">https://ttd.sandbox-111094.com/l5rknGpkAUCSJN</a> -->

                  <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-2x"><span class="path1"></span><span class="path2"></span></i>
                  </div>
                </div>

                <div class="h-100 w-100">
                  <!-- <iframe id="myIframe" src="<%= notaDinas[i].dataResponse.sign[0].url %>" class="h-100 w-100"></iframe> -->
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<script>
  function refresh() {
    location.reload();
  }
</script>