<form action="/notadinas" method="get" class="mb-5">
  <div class="row">
    <div class="form-group col-sm-2">
      <input class="form-control input-sm" type="date" id="startdate" name="startdate">
    </div>
    <div class="form-group col-sm-2">
      <input class="form-control input-lg" type="date" id="endDate" name="enddate">
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary btn-sm" type="submit">Search</button>
    </div>
  </div>
</form>

<div class="table-responsive">
  <table class="table table-hover table-rounded table-row-bordered" id="tabel_category">
    <thead>
      <tr class="fw-bold fs-6 text-gray-800">
        <th class="">No.</th>
        <th class="">No Nota Dinas</th>
        <th class="">Dari</th>
        <th class="">Kepada</th>
        <th class="">Perihal</th>
        <th class="">Tanggal Nota Dinas</th>
        <th class="">Action</th>
      </tr>
    </thead>
    <tbody class="fw-semibold">
      <% for(let i=0; i < notaDinas.length; i++) { %>
      <tr class="odd">
        <td>
          <%= i +1 %>
        </td>
        <td>
          <%= notaDinas[i].noNotaDinas %>
        </td>
        <td>
          <%= notaDinas[i].dari %>
        </td>
        <td>
          <%= notaDinas[i].kepada %>
        </td>
        <td>
          <%= notaDinas[i].perihal %>
        </td>
        <td>
          <%= notaDinas[i].tglNotaDinas %>
        </td>
        <td>

          <!-- <a data-id="<%= notaDinas[i]._id %>" class="btn btn-sm btn-light-primary btn-icon mr-2" title="Forward">
            <span class="svg-icon svg-icon-primary svg-icon-2x">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24" />
                  <path d="M6.82866499,18.2771971 L13.5693679,12.3976203 C13.7774696,12.2161036 13.7990211,11.9002555 13.6175044,11.6921539 C13.6029128,11.6754252 13.5872233,11.6596867 13.5705402,11.6450431 L6.82983723,5.72838979 C6.62230202,5.54622572 6.30638833,5.56679309 6.12422426,5.7743283 C6.04415337,5.86555116 6,5.98278612 6,6.10416552 L6,17.9003957 C6,18.1765381 6.22385763,18.4003957 6.5,18.4003957 C6.62084305,18.4003957 6.73759731,18.3566309 6.82866499,18.2771971 Z" fill="currentColor" opacity="0.3" />
                  <path d="M12.828665,18.2771971 L19.5693679,12.3976203 C19.7774696,12.2161036 19.7990211,11.9002555 19.6175044,11.6921539 C19.6029128,11.6754252 19.5872233,11.6596867 19.5705402,11.6450431 L12.8298372,5.72838979 C12.622302,5.54622572 12.3063883,5.56679309 12.1242243,5.7743283 C12.0441534,5.86555116 12,5.98278612 12,6.10416552 L12,17.9003957 C12,18.1765381 12.2238576,18.4003957 12.5,18.4003957 C12.6208431,18.4003957 12.7375973,18.3566309 12.828665,18.2771971 Z" fill="currentColor" />
                </g>
              </svg>
            </span>
          </a> -->

          <a href="notadinas/edit/<%= notaDinas[i]._id %>" class="btn btn-sm btn-light-info btn-icon mr-2" title="Edit">
            <span class="svg-icon svg-icon-primary svg-icon-2">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24" />
                  <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="currentColor" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) " />
                  <rect fill="currentColor" opacity="0.3" x="5" y="20" width="15" height="2" rx="1" />
                </g>
              </svg>
            </span>
          </a>

          <a data-id="<%= notaDinas[i]._id %>" class="btn btn-sm btn-light-danger btn-icon mr-2" data-bs-toggle="modal" data-bs-target="#deletenotaDinasModal<%= notaDinas[i]._id %>" title="Delete">
            <span class="svg-icon svg-icon-primary svg-icon-2">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24"></rect>
                  <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="currentColor" fill-rule="nonzero"></path>
                  <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="currentColor" opacity="0.3"></path>
                </g>
              </svg>
            </span>
          </a>

          <!-- modal edit -->
          <div class="modal fade" tabindex="-1" id="editnotaDinasModal<%= notaDinas[i]._id %>">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title">Edit notaDinas</h3>
                  <!--begin::Close-->
                  <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-1">
                      <span class="svg-icon svg-icon-primary svg-icon-2x">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="currentColor">
                              <rect x="0" y="7" width="16" height="2" rx="1" />
                              <rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </div>
                  <!--end::Close-->
                </div>
                <form action="/notaDinas/edit/<%= notaDinas[i]._id %>?_method=PUT" method="POST">
                  <div class="modal-body">
                    <div class="form-group mb-5">
                      <label class="required form-label" for="nameCoin"> Coin Name</label>
                      <select class="form-select form-select-solid" name="coinName" id="coinName" data-control="select2" data-dropdown-parent="#createnotaDinasModal" data-placeholder="Select a Coin Name" data-allow-clear="true" required oninvalid="this.setCustomValidity('Data cannot be null')" oninput="setCustomValidity('')">
                        <option>
                          <%= notaDinas[i].coinName %>
                        </option>
                        <option value="Diamonds">Diamonds</option>
                        <option value="UC">UC</option>
                        <option value="Gold">Gold</option>
                        <option value="Genesis Crystals">Genesis Crystals</option>
                        <option value="Points">Points</option>
                        <option value="PB Cash">PB Cash</option>
                      </select>
                    </div>
                    <div class="form-group mb-5">
                      <label class="required form-label" for="coinQuantity"> Coin
                        Quantity</label>
                      <input type="number" id="coinQuantity" name="coinQuantity" value="<%= notaDinas[i].coinQuantity %>" class="form-control" required oninvalid="this.setCustomValidity('Data cannot be null')" oninput="setCustomValidity('')" />
                    </div>
                    <div class="form-group">
                      <label class="required form-label" for="price"> Price</label>
                      <input type="number" id="price" name="price" class="form-control" value="<%= notaDinas[i].price %>" required oninvalid="this.setCustomValidity('Data cannot be null')" oninput="setCustomValidity('')" />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- modal delete -->
          <div class="modal fade" tabindex="-1" id="deletenotaDinasModal<%= notaDinas[i]._id %>">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title">Are you sure?</h3>
                  <!--begin::Close-->
                  <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-1">
                      <span class="svg-icon svg-icon-primary svg-icon-2x">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="currentColor">
                              <rect x="0" y="7" width="16" height="2" rx="1" />
                              <rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </div>
                  <!--end::Close-->
                </div>
                <form action="/notaDinas/delete/<%= notaDinas[i]._id %>?_method=DELETE" method="POST">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>